* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: #000;
    background-color: #FFDFE5;
    font-family: 'Exo 2', sans-serif;
}

/* Header */
#header-nav{
    background-color:#FFDAB9;  
    border:2px solid #000; 
    border-radius: 0;
  }

  .navbar-brand{
    margin-top: 10px;
    padding-top:10px;
  }

  .navbar-nav{
    margin:0 -15px !important;
  }

  .navbar-brand h1 {
      color: #7B68EE;
      font-size: 1.5em;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 0;
      line-height: .75;
      margin-left: 15px;
  }

  .navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;  
  }

  #nav-list{
    border-top: 2px solid #000;
  }

  #nav-list li{
    background: #FFDFE5;
    border-bottom:2px solid;
  }
  #nav-list li:nth-child(3){
    border-bottom: 0;
  }

  #nav-list li a{
    color: #7B68EE;
    font-weight: 700;
    line-height: 12px
  }

  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #000;
  }

  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -45px;
  }

  /* END HEADER */

  .container-fluid {
      border:none;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 10px;

  }

  #top {
      font-weight: bold;
      color: #7B68EE;

  }

  h3 {
      font-weight: bold;
      color: #7B68EE;
  }

  #chicken-div {
      border: 1px solid #000;
      margin-bottom: 10px;
      background-color: #FFDAB9;
      text-align: center;
  }

  #beef-div {
    border: 1px solid #000;
    margin-bottom: 10px;
    background-color: #FFDAB9;
    text-align: center;
}

.menu-content p {
    color:#000;
}

#sushi-div {
    border: 1px solid #000;
    margin-bottom: 10px;
    background-color: #FFDAB9;
    text-align: center;
}

#sushi-div a {
    color: #7B68EE;
    font-weight: bold;
}

#sushi-div a:hover, a:active {
    text-decoration: none;
}